{% extends 'layout.html' %}

  {% block content %}
  {% set active_page = 'contact' %}

  <div class="section form-wrapper">
    <div class="wrapper-hack">
    <h1 class="post-title">Contact</h1>
    <p>If you have questions, comments, or contributions, please use the form below or contact <a href='mailto:ychun@princeton.edu'>ychun@princeton.edu</a>.</p>

    {% if get_flashed_messages() %}
      {% for message in get_flashed_messages() %}
      <div class="flash success">{{ message }}</div>
      {% endfor %}
    {% endif %}

    {% for message in form.name.errors %}
        <div class="flash"> {{ message }} </div>
      {% endfor %}

      {% for message in form.subject.errors %}
        <div class="flash"> {{ message }} </div>
      {% endfor %}      

      {% for message in form.email.errors %}
        <div class="flash"> {{ message }} </div>
      {% endfor %}

      {% for message in form.message.errors %}
        <div class="flash"> {{ message }} </div>
      {% endfor %}


      <form action="{{ url_for('contact') }}" method="post">

      {{ form.hidden_tag() }}

      {% for field in form if not field.csrf_token %}
        {{ field.label }}
        {{ field }}
      {% endfor %}

      </form>
     </div>
   </div>
  {% endblock content %}    }
