{% extends 'layout.html' %}

	{% block title %} Events {% endblock %}
	{% set active_page = 'events' %} 
	{% block content %}
		<div class="title-block">
			<h1 class="post-title">Events</h1>
		</div>

		
	  {% if events %}
	  <ul>
	    {% for event in events %}
	    <div class="event-preview">
	      <li><a href=" {{ event.url }} "> {{ event.title|e }}</li>
        </div>
	    {% endfor %}
	  </ul>
	  {% endif %}
	  
    {% if not Events %}
      <p style="text-align: center;">There are currently no scheduled events.</p>
    {% endif %}
	{% endblock content %}

