{% block footer %}
  <footer class="footer">
    <h1>Princeton Undergraduate Law Review</h1>
        <h6 class="copyright">
           &copy; 2015 Princeton Undergraduate Law Review
        </h6>
       <ul class="social">
	       <!--<li><a href="https://twitter.com/home?status=Get%20a%20fresh%20take%20on%20things%20with%20the%20Princeton%20Undergraduate%20Law%20Review.%20%0A%0Ahttp://www.princetonundergraduatelawreview.tk"><span class="fa fa-twitter"></span></a></li>-->
	       <li><a href="https://www.facebook.com/PrincetonUndergraduateLawReview?ref=br_tf"><span class="fa fa-facebook"></span></a></li>
	       <li><a href="mailto:pulr.manager@gmail.com?subject=User Inquiry"><span class="fa fa-envelope"></span></a></li>
	       <li><a href='{{ url_for('events') }}'><span class='fa fa-calendar-o'></span></a></li>
	     </ul>
  </footer>
{% endblock footer %}

