<header class="header">
 	
  <nav class="main-nav-left">
 		<ul>
      <li><a href="#" id="trigger"><span class="fa fa-bars"></span></a></li>
      <li><h1 class="mobile-title">PULR</h1></li>
 		</ul>

    <div class="right-search">
          <input type="submit" value="Search" class="search">
          <input type="submit" value="Go" class="go">
          <div style="overflow: hidden; padding-right: .5em;">
            <input type="text" style="width: 100%;" />
          </div>
    </div>

  </nav>

  <div class="break-title">
    <!--<a href=" /" class="large-title header-home-link"></a>-->
    <h1 class="large-title">Princeton Undergraduate Law Review</h1>
  </div>
  
  <img src="{{ url_for('static', filename='images/princeton_shield.svg') }}" alt="crest" class="mobile-crest">
  <!--<a href=" /" class="mobile-crest header-home-link"></a>-->


  <nav class="large-nav">
    <ul class="large-nav-ul">
      {% for href, id, caption in navigation_bar %}
        <li {% if id == active_page %} class="active" {% endif %}>
        <a href=" {{ href|e }}">{{ caption|e }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>

  <nav id="slider">
    <ul>
      {% for href, id, caption in navigation_bar %}
        <li {% if id == active_page %} class="active" {% endif %}>
        <a href=" {{ href|e }}">{{ caption|e }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>



 </header>
