<header class="header">
  
  <div class="break-title">
    <h1 class="large-title">Princeton Undergraduate Law Review</h1>
  </div>
  
  <img src="{{ url_for('static', filename='images/princeton_shield.svg') }}" alt="crest" class="mobile-crest">
  <a href=" /" class="header-home-link"></a>

  <nav class="large-nav">
    <ul class="large-nav-ul">
      {% for href, id, caption in navigation_bar %}
        <li {% if id == active_page %} class="active" {% endif %}>
        <a href=" {{ href|e }}">{{ caption|e }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>

  <nav id="slider">
    <ul>
      {% for href, id, caption in navigation_bar %}
        <li {% if id == active_page %} class="active" {% endif %}>
        <a href=" {{ href|e }}">{{ caption|e }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>

 </header>