<div class="cycle-slideshow" 
    data-cycle-slides=".group"
    data-cycle-fx=scrollHorz
    data-cycle-timeout=3000
    data-cycle-speed=700
    data-cycle-caption-plugin=caption2
    data-cycle-overlay-fx-sel="span"
    data-cycle-auto-height=false
    >
    <span class="cycle-caption"></span>
    <span class="cycle-overlay"></span>
	
	<div class="group">
		<div class="slide0" data-cycle-title="Test 1"></div>
		<div class="cycle-overlay">
		<p class="cap"><a href="http://princetonundergraduatelawreview.tumblr.com/post/109149136664/blog003">Bridging Silicon Valley and the American Heartland: Drone Regulations As An Unlikely Coalition Builder</a></p>
		<!-- why is this here? 
		<span class="fa fa-minus"></span>-->
		</div>
	</div>

	<div class="group">
		<div class="slide1" data-cycle-title="Test 2"></div>
		<div class="cycle-overlay">
			<p class="cap"><a href="http://princetonundergraduatelawreview.tumblr.com/post/109152067684/a-second-bully-pulpit">A Second Bully Pulpit?</a></p>
		</div>
	</div>

	<div class="group">
		<div class="slide2" data-cycle-title="Test 2"></div>
		<div class="cycle-overlay">
			<p class="cap"><a href="http://princetonundergraduatelawreview.tumblr.com/post/109150554489/alabama-gerrymandering">Alabama Gerrymandering</a></p>
		</div>
	</div>
    
</div>