{% extends 'layout.html' %}
	
		{% block title%} Home {% endblock %}
		{% set active_page = 'index' %}
		
		{% block content %}
        {% include 'hero_update.html' %}
	    <section class="row">
		{% if not publications %}
		   {# <h1 class="publication-title">No publications.</h1> #}
		 {% endif%}
		 {% if publications %}
		  {% for publication in publications %}
	          <img src=" {{ publication.image }} " alt="Featured Image" class="featured-image">
	          <h1 class="publication-title">{{ publication.title }}</h1>
	          <h3 class="byline"> {{ publication.author }} </h3>
	          <p class="publication-teaser"> {{ publication.text|truncate }} </p>
	            <h3><a href=" {{ publication.link }} "> Read More </a></h3>
	      {% endfor %}
	    {% endif %}


	    <div class="publication-wrapper">
	        <div class="publication-image preview" alt="Featured Images"></div>
        	<h2><a href=" # "> The Limits of Law: A Fake Title</a></h2>
	        <h3 class="byline">By O. Singh <span class="fa fa-minus"></span> 12.12.2014</h3>
	        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. A iusto ratione ex magnam quidem, delectus rem, alias facilis dignissimos commodi dolorem cumque quos aliquid tempora sapiente expedita consectetur. Nihil, porro. </p>
	        <h3 class="read-more"><a href="#">Read More . . .</a></h3>
	        <ul class="publication-social">
		        <li><a class="twitter-share-button" {# data-href=" {{ publication.url }}" #} href="https://twitter.com/share">Tweet</a></li>
		        <li><a class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button"></a></li>
	        </ul>
	      </div>
	    </section>

	    <aside class="sidebar-about">
	    	<h1>About Us</h1>
	    	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio dignissimos ad, ipsa libero aliquid aliquam unde rerum. Culpa eius libero quasi eos cum voluptas, repellendus voluptatem nihil sit, quis, hic.</p>
	    </aside>
       <aside class="sidebar">
        {% if not events %}
		  <h1 class="publication-title">No Events</h1>
        {% endif %}
        {% if events %}
          <ul class="events">
	      {% for event in events %}
	        <li>
	          <a href=" {{ events.url }} "> {{ event.title }} </a>
	          {# TRIAGED FEATURE: Drop-down description from arrow
	               glyph, calendar view. As an alternative to list
	               view, we an also embed Google Calendar, which
	               may be a better approach until we finish the JS
	               plug.
	           #}
	        </li>
	      {% endfor %}
	      </ul>
	    {% endif %}
       </aside>
	{% endblock content %}