{% extends 'layout.html' %}
	
		{% block title%} Home {% endblock %}
		{% set active_page = 'index' %}

		{% block content %}
		  {% include 'hero_update.html' %}

		<div class="flexy">
		  <aside class="about-new">

		  	<h1><a href=" {{ url_for('about') }} ">About the Review</a></h1>
		  	<p>The Princeton Undergraduate Law Review is an online journal that publishes a variety of graduate, undergraduate and faculty work on law and legal issues.</p>
		  	<h3 class="read-more"><a href=" {{ url_for('about') }} ">More</a></h3>
		  </aside>

		  <section class="latest-new">
		  {% for post in posts %}
		    <div class="publication">
		    	<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
		    	<p class="publication-text"><span class="byline">By {{ post.byline }}</span><span class="fa fa-minus"></span>{{ post.content|truncate|e }}</p>
		    	<h3 class="read-more"><a href="{{ post.url }}">Read more . . .</a></h3>
		  	<ul class="publication-social">
		        <li><a class="twitter-share-button" {# data-href=" {{ post.url }}" #} href="https://twitter.com/share">Tweet</a></li>
		        <li><a class="fb-share-button" data-href="{{ post.url }}" data-layout="button"></a></li>
	        </ul>
		    </div>
		  {% endfor%}
		  </section>

		  <aside class="events-new">

		  	<h1><a href=" {{ url_for('about') }}">Events</a></h1>
		  	{% if not events %}
		  		<p>There are no scheduled events.</p>
		  	{% endif %}
		  </aside>
		</div>
		{% endblock content %}