{% extends 'layout.html' %}
	
		{% block title%} Home {% endblock %}
		{% set active_page = 'index' %}

		{% block content %}
		  {% include 'hero_update.html' %}

		<div class="flexy">
			<section class="editor-note">
				{% if note %}
					<h2> Editor's Note </h2>
					{{ note.content | safe }}
					<h4>Sincerely,</h4>
					<h5>{{ note.name }}</h5>
				{% endif %}
			</section>
			<aside class="announcements">
				<hr>
				<ul>
					{% for announcement in announcements %}
		    		<li class-"announcement-content">
							<h3>{{ announcement.title }}</h3>
							<h5>{{ announcement.date_string }}</h5>
							<p> {{ announcement.content | safe }}</p>
							<hr>
						</li>
		 		  {% endfor%}
			  </ul>
			</aside>
		</div>
		{% endblock content %}
