{% extends 'layout.html' %}
  
  {% block title %}
  	{% if a %}
	    	{{a.title|striptags}}
  	{% else %}
  		{{i.title}}
  	{% endif %}
  {% endblock title %}
  {% set active_page = 'issues' %}

    {% block content %}
	    {% if a.image_url %}
	    	<!--<img src={{ a.image_url }} class='article-image'></div>-->
	    {% endif %}

      <div class="flexy">
      	<section class="articles">
      		{% if a %}
						<h2 class="article-title"> {{a.title|safe}} </h2>
						<h3> {{a.byline|safe}}</h3>
						<p><b>ABSTRACT</b></p>
						<div class="abstract">{{a.abstract|safe}}</div>
						{{a.content|safe }}
						<hr>
						<div class="footnotes"> {{a.footnotes|safe}}</div>
						{% if a.works_cited %}
							<hr>
							<div class="works-cited">
								<h3> Works Cited </h3>
								{{a.works_cited|safe}}
							</div>
						{% endif %}
					{% endif %}
					{% if articles %}
						<ul class="article-list">
							{% for article in articles %}
								<div class="post-preview">
      						<li>
       							<h2 class="post-title">
       								<a href=" {{ url_for('issues', i_id=i.id, a_id=article.id ) }} "> 
       									{{ article.title|safe }} 
       								</a>
       							</h2>
        						<p class="publication-text">
        							<span class="byline">
        								By {{ article.byline |safe}}</span><span class="fa fa-minus">
        							</span>
        							{{ article.abstract|safe }}
        						</p>
        						<h3 class="read-more">
        							<a href="{{ url_for('issues', i_id=i.id, a_id=article.id ) }}">
        								Read more . . .
        							</a>
        						</h3>
        						<ul class="publication-social">
	        						<li><a class="twitter-share-button" href="https://twitter.com/share?url={{ article.full_url|urlencode }}">Tweet</a></li>
		        					<li>
		        						<a class="fb-share-button" 
		        							data-href="http://www.princetonundergraduatelawreview.com{{ url_for('issues', i_id=i.id, a_id=article.id ) }}"
		        							data-layout="button">
		        						</a>
		        					</li>
	       						</ul>
	      					</li>
        				</div>
							{% endfor %}
						</ul>
					{% endif %}
				</section>
				<aside class="about-issue">
					<a href=" {{ url_for('issues', i_id=i.id, a_id=None ) }} " class="issue">
						<h3> {{ i.title }} </h3>
					</a>
					<h5>{{ i.date_string }}</h5>
				  <div class="empty-space"></div>
					{% if i.editor_in_chief %}
						<h4>Editor In Chief</h4>
						<h5> {{ i.editor_in_chief }} </h5>
					{% endif %}
					{% if i.editorial_board %}
						<h4>Editorial Board</h4>
						<h5> {{ i.editorial_board|safe}} </h5>
					{% endif %}
				  <div class="empty-space"></div>
					<hr>
					<div class="issues">
	     		<h3>Archive</h3>
	     		<ul class="issue-list">
	     			{% for issue in issues %}
	     				<li >
	     					<a href=" {{ url_for('issues', i_id=issue.id, a_id=None ) }} " class="issue">
	     						{{ issue.title }}
	     					</a>
	     				</li>
	     			{% endfor %}
	     		</ul>
	     	</div>
				</aside>
      </div>
	  
	  <!-- {% if a %}
	  <h3>Issue I</h3>
	  <ul class="article-list">
	    {% for article in articles %}
	      <li>
	     {# {% if article.image_url %}

		Inline styles are an abomination,
		but here it's an easy solution.

	        <div class="featured-image" style="background: url({{ article.image_url }}) "></div>
	      {% endif %} #}
	        <h2><a href=" {{ url_for('static', filename=article.url ) }} "> {{ article.title|e }} </a></h2>
	        {% autoescape on %}
	        	<p> {{ article.content|truncate|safe}} </p>
	        {% endautoescape %}
	      </li>
	      <ul class="publication-social">
		        <li><a class="twitter-share-button" {# data-href=" {{ article.url }}" #} href="https://twitter.com/share">Tweet</a></li>
		        <li><a class="fb-share-button" data-href="{{ url_for('static', filename=article.url ) }}" data-layout="button"></a></li>
	        </ul>
	    {% endfor %}
	  </ul>
	  {% endif %}
	  
    {% if not articles %}
      <h1>No Issues.</h1>
    {% endif %}
	      <!-- <div class="publication-wrapper">
	        <img class="publication-image" src="http://placehold.it/470x100" width="470px" height="100px" alt="Featured Images">	
	              	<h2><a href=" # "> The Limits of Law: A Fake Title </a></h2>
	        <h3 class="byline">By O. Singh <span class="fa fa-minus"></span> 12.12.2014</h3>
	        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. A iusto ratione ex magnam quidem, delectus rem, alias facilis dignissimos commodi dolorem cumque quos aliquid tempora sapiente expedita consectetur. Nihil, porro. </p>
	        <h3 class="read-more"><a href="#">Read More . . .</a></h3>
	        <ul class="publication-social">
	      		        <li><a class="twitter-share-button" {# data-href=" {{ publication.url }}" #} href="https://twitter.com/share">Tweet</a></li>
	      		        <li><a class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="button"></a></li>
	        </ul>
	      </div> -->
   {% endblock content %}
